*{
    margin: 0;
    font-family: 'Golos Text', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: lightgray;
    border-bottom: 1px solid #353535;
  }
  
  .left {
    display: flex;
    align-items: center;
  }
  
  .left h1 {
    font-size: 22px;
    margin: 0;
    padding: 0;
  }
  
  .right {
    display: flex;
    align-items: center;
  }
  
  .right img {
    width: 25px;
    height: 25px;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .right h2 {
    font-size: 16px;
    margin: 0;
    padding: 0;
  }
  
  .bell-icon img{
    animation: bounce 0.5s infinite alternate;
  }
  
  @keyframes bounce {
    0% {
      transform: scale(0.8);
    }
    25%{
      transform: scale(0.9);
    }
    50% {
      transform: scale(1);
    }
    75% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1.2);
    }
  }

  
.main-section {
    display: grid;
    grid-template-columns: 1fr 5fr;
  }

.main-section h1 {
    margin-top: 20px;
}

.main-section div span button {
  margin-left: 1296px;
}

.sidebar ul {
    list-style-type: none;
    margin-top: 30px;
}

.sidebar ul li{
    margin-bottom: 10px;
    font-size: 18px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 100px;
  background-color: #fff;
  color: black;
  text-align: center;
  border-radius: 2px;
  border-bottom: 1px solid #353535;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

#studentsTable {
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td, input, button {
    border: 2px solid black;
}

td{
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

th{
  padding: 20px 70px 20px 70px;
}


#open-modal {
  width: 35px;
  height: 35px;
  font-size: large;
}


/* Hide the modal by default */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Style the modal content */
.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  position: relative;
}

/* Style the modal header */
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

/* Style the close button */
#close-modal {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  background: none;
}

#close-modal:hover,
#close-modal:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* Style the modal footer */
.modal-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.modal-cancel {
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-cancel:hover {
  background-color: #da190b;
}

/* Modal OK Button */
.modal-ok {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-ok:hover {
  background-color: #3e8e41;
}

/* Style the ok button */
#ok-button {
  margin-right: 20px;
  background-color: #8e8e8e;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

#ok-button:hover {
  background-color: #4b4b4b;
}

/* Responsive styles for smaller screens */
@media screen and (max-width: 600px) {
  .modal-content {
    width: 80%;
  }
}

.single-input {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  font-size: 18px;
}

.form-input {
  border: 2px solid black;
  width:300px;
  height: 25px;
  box-sizing:border-box;
  margin-left: auto;
  margin-right: 20px;
}

.modal-body {
  display: flex;
  flex-direction: column;
}
